<%= nav_bar :fixed => :top, :responsive => true,
          :brand => "Recipe Book", :brand_link => "#/dashboard/index" do %>


  <div class='pull-right'>

    <%= menu_group :pull => :right do %>
      <%= menu_item "#{current_user.email}", "#/users/#{current_user.id}" %>
      <%= menu_item "Log Out", destroy_user_session_path, :method => :delete %>
    <% end %>

    <%= link_to "#/users/#{current_user.id}", class: "hidden-xs" do %>
      <%= image_tag current_user.profile.avatar.url(:thumb), class: "img img-thumbnail" %>
    <% end %>

  </div>


<% end %>